@{
    ViewData["Title"] = "Home Page";
}

@model List<Entidades.Cadete>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Cadete" asp-action="AgregarCadete">Agregar Cadete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Pedido" asp-action="AgregarPedido">Agregar Pedido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Cadete" asp-action="ListarCadetes">Listar Cadetes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="m-3">
        <form asp-action="addPedido" asp-controller="Cadete" method="post" class="p-3 col-md-7 m-auto border-primary bg-light">
            <h3 class="m-2">Datos Pedido</h3>
            <div class="m-3">
                <input class="form-control" type="text" name="numero" value="" placeholder="Numero" />
            </div>
            <div class="m-3">
                <input class="form-control" type="text" name="observacion" value="" placeholder="Observacion" />
            </div>
            <div class="m-3">
                <input class="form-control" type="text" name="estado" value="" placeholder="Estado" />
            </div>
            <div class="m-3">
                Cadete: <select name="cad_id">
                    @foreach (var cad in Model)
                    {
                        <option value="@cad.Id">@cad.Id - @cad.Nombre </option>
                    }
                </select>
            </div>
            <h3 class="m-2">Datos Cliente</h3>
            <div class="m-3">
                <input class="form-control" type="number" name="id_c" value="" placeholder="ID" />
            </div>            
            <div class="m-3">
                <input class="form-control" type="text" name="nombre_c" value="" placeholder="Nombre" />
            </div>
            <div class="m-3">
                <input class="form-control" type="text" name="direccion_c" value="" placeholder="Direccion" />
            </div> 
            <div class="m-3">
                <input class="form-control" type="text" name="telefono_c" value="" placeholder="Telefono" />
            </div>
            <div class="m-3">
                <button class="btn btn-primary btn-lg m-auto" type="submit">Agregar</button>
            </div>
        </form>
    </div>
