@{
    ViewData["Title"] = "Home Page";
}

@model List<Entidades.Pedido>;

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Cadete" asp-action="AgregarCadete">Agregar Cadete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Pedido" asp-action="AgregarPedido">Agregar Pedido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Cadete" asp-action="ListarCadetes">Listar Cadetes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<table class="table p-2 m-3">
    <tr>
        <th scope="col">Numero</th>
        <th scope="col">Observacion</th>
        <th scope="col">Estado</th>
        <th scope="col">Cliente</th>
    </tr>
    @foreach (var ped in Model)
    {
        <tr>
            <th scope="row">@ped.Numero</th>
            <td>@ped.Obs</td>
            <td>@ped.Estado</td>
            <td>@ped.Cliente.Nombre</td>           
        </tr>
    }

</table>
