@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="addCadete" asp-controller="Cadete" method="post">
    <input type="text" name="nombre" value="" />
    <input type="text" name="direccion" value="" />
    <input type="text" name="telefono" value="" />
    <button type="submit"></button>
</form>