@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadeteria</h1>
    <table>
        <tr>
            <td><a class="btn btn-primary btn-block" asp-area="" asp-controller="Cadete" asp-action="AgregarCadete">Agregar Cadete</a></td>
            <td><a class="btn btn-primary btn-block" asp-area="" asp-controller="Cadete" asp-action="AgregarPedido">Agregar Pedido</a></td>
        </tr>
        <tr>
            <td><a class="btn btn-primary btn-block" asp-area="" asp-controller="Cadete" asp-action="ListarCadetes">Listar Cadetes</a></td>
            @*<td><a class="btn btn-primary btn-block" asp-area="" asp-controller="Cadete" asp-action="ListarPedidos">Listar Pedidos</a></td>*@
        </tr>
    </table>
</div>
