@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadeteria</h1>
    <table>
        <tr>
            <td><button>Agregar Cadete</button></td>
            <td><button>Agregar Pedido</button></td>
        </tr>
        <tr>
            <td><button>Listar Cadetes</button></td>
            <td><button>Listar Pedidos</button></td>
        </tr>
    </table>
</div>
