@{
    ViewData["Title"] = "Home Page";
}

@model List<TP3.Cadete>;

<table>
    @foreach (var cad in Model)
    {
        <tr>
            <td>@cad.Id</td><td>@cad.Nombre</td><td>@cad.Telefono</td><td>@cad.Direccion</td>
        </tr>
    }

</table>
